header {
	position: fixed;
	width: 100%;
	background-color:darkgoldenrod;
	padding: 5px 0;
	z-index: 2;
	box-shadow: -2px 2px 10px 0 rgb(207 212 214 / 50%);
}

header img{
	height: 90px;
}

.caixa {
	position: relative;
	display: flex;
	width: 1000px;    					
	margin: 0 auto;
}

nav {
	position: fixed;
	display: flex;
	top: 40px;
	right: 50px;
}


nav li {
	display: flex;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;    		
	color: black;						
	font-weight: bold;					
	font-size: 19px;				
	text-decoration: none;
	margin-right: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

nav a:hover {
	color:  #f7f3f3;
	text-decoration: underline;
}

.principal {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	height: 100vh;
	padding: 0px 60px;
	background: url("/img/salao.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.principal::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.6);

}

.principal p {
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	padding: auto;	
	color: white;
	margin-bottom: 15px;
	font-size: 20px;
}

.mapa {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

.mapa p{
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 30px;
	font-size: 19px;

}

.titulo-principal {
	position: relative;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: white;
	margin-bottom: 30px;
}

.titulo-secundario {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 21px;
}



.utensilios {
	position: relative;
	display: flex;
	width: 100%;
	height: 775px;
}


.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 120px 0px 50px 0px;

}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("/img/bg.jpg");
	padding: 30px 0;
}

footer h4{
	color: #FFFFFF;
	font-size: 20px;
	padding: 5px;
	font-family: 'Roboto Condensed', sans-serif;
}

footer p{
	color: #FFFFFF;
	font-size: 15px;
	padding: 5px;
	font-family: 'Roboto Condensed', sans-serif;
}

.copyright {
	color: #FFFFFF;
	font-size: 15px;
	margin: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

main {
	width: 100%;
}

.contato {
	padding: 100px 60px;
}

.contato h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 21px;
	font-weight: bold;

}

form label, form legend {
	display: block;
	font-size: 19px;
	margin: 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border:  none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;

}

.enviar:hover {
	background: darkorange;
	transform: scale(1.04);
}

table {
	margin: 20px 0px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
	width: 150px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

.titulo{
	text-align: center;
	font-size: 50px;
	margin: 0 0 1em;
	clear: left;	
	padding-top: 130px;
	font-family: 'Roboto Condensed', sans-serif;
}

.titulobarba{
	text-align: center;
	font-size: 50px;
	margin: 0 0 1em;
	clear: left;	
	padding-top: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

.container{
	display:flex;
	align-items: center;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 80%;
	padding-left: 10%;
    padding-right: 10%;	
}

.fotos{
	width: 30%;
	align-items: center;
}

.container p{
	margin-left: 50px;
	margin-right: 50px;
	font-size:17px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

.video{
	text-align: center;
	padding-bottom: 20px;
}

.texto{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: large;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}