header {
	position: fixed;
	width: 100%;
	background-color:darkgoldenrod;
	/*background-image: linear-gradient(rgb(105, 101, 101), #f5f0f0);*/
	padding: 5px 0;
	z-index: 2;
}

header img{
	height: 90px;
}

.caixa {
	position: relative;
	display: flex;
	width: 1000px;    					
	margin: 0 auto;
}

nav {
	position: fixed;
	display: flex;
	top: 40px;
	right: 50px;
}

nav li {
	display: flex;                    /*Inline ou block ou inline-block*/
	margin: 0 0 0 15px;					/*Faz o espaçamento entre as minhas listas*/
}

nav a {
	text-transform: uppercase;    		
	color: black;						
	font-weight: bold;					
	font-size: 19px;				
	text-decoration: none;
	margin-right: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

nav a:hover {
	color:  #f7f3f3;
	text-decoration: underline;
}

.principal {
	position: relative;
	display: inline-block;
	justify-content: center;
	height: 700px;
}

.principal p {
	font-family: 'Roboto Condensed', sans-serif;
	padding: auto;
	
}

.mapa iframe {
	position: relative;
	display: inline;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.mapa p{
	font-family: 'Roboto Condensed', sans-serif;

}

.titulo-principal {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 21px;
}



.utensilios {
	position: relative;
	display: flex;
	width: 100%;
	height: 775px;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;

}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;				/*Para corrigir quando o navegador soma o meu % percentual com meus pixel*/
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("/img/bg.jpg");
	padding: 30px 0;
	height: 450px;
}

footer h4{
	color: #FFFFFF;
	font-size: 20px;
	padding: 5px;
	font-family: 'Roboto Condensed', sans-serif;
}

footer p{
	color: #FFFFFF;
	font-size: 15px;
	padding: 5px;
	font-family: 'Roboto Condensed', sans-serif;
}

.copyright {
	color: #FFFFFF;
	font-size: 15px;
	margin: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

main {
	width: 1290px;
	margin: 0 auto;

}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border:  none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;

}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
	width: 150px;
	text-align: center;
}


